
.contacto{
    display: flex;
    gap: 24;
    margin-top: 20px;
}

.contacto div{
    width: 100%;
}


.rapido{
    margin-top: 20px;
    background-image: url(https://www.todofondos.net/wp-content/uploads/1080x1920-Fondo-de-pantalla-gris-negro-576x1024.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.rapido h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: antiquewhite;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.20);
     border-radius: 2px;
}


.formulario p{
    display: flex;
    font-weight: bold;
    margin-left: 20px;
    text-shadow: 1px 1px 1px black;
}
.formulario p label{
    min-width: 70px;
    display: flex;
    align-items: center;
    color: cadetblue;

}

.formulario p input,
.formulario p textarea{
    background-color: #ddd;
    width: 70%;
    border: 1px solid grey;
    border-radius: 14px;
    font-size: 15px;
    padding: 4px 14px;
}

.formulario textarea{
    resize: none;
    height: 90px;
}

.formulario input[type="submit"] {
    background-color:darkcyan;
    color: lightgrey;
    box-shadow: 2px 2px 10px black;
    font-size: 14px;
    width: auto;  
    position: relative; 
    left: 70px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover{
    background-color:firebrick;
}

.datos{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(https://www.todofondos.net/wp-content/uploads/1080x1920-Fondo-de-pantalla-gris-negro-576x1024.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.datos h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:antiquewhite;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    
}

.datos p{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.datos ul{
    font-size: 20px;
    margin-left: 50px;
    color: cadetblue;
    text-shadow: 1px 1px 1px black;
}

.datos ul li{
    margin-top: 30px;
    list-style-type: none;
}