main h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
        background-image: url(https://media.istockphoto.com/id/905921664/es/vector/productos-de-panader%C3%ADa-banner-horizontal-frontera-realista-o-encabezado.jpg?s=1024x1024&w=is&k=20&c=3F0lfcDegmkL1vbkbfA63wrGfy6KEPOz7bM9FFPhZII=);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50px 50px 0 0;
        text-align: center;
        color: saddlebrown;
        margin-bottom: 0;
        margin-top: 40px;

    }

    main h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
            background-image: url(https://media.istockphoto.com/id/905921664/es/vector/productos-de-panader%C3%ADa-banner-horizontal-frontera-realista-o-encabezado.jpg?s=1024x1024&w=is&k=20&c=3F0lfcDegmkL1vbkbfA63wrGfy6KEPOz7bM9FFPhZII=);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0 0 50px 50px;
            text-align: right;
            padding-right: 20px;
            color: saddlebrown;
            font-style: italic;

        }


   
    .carousel1 img{
        height: 200px;
        width: 900px auto;
        object-fit: cover;
    }



    .carousel2 img{
        height: 200px;
        width: 900px auto;
        object-fit: cover;
    }

    .carousel3 img{
        height: 200px;
        width: 900px auto;
        object-fit: cover;
    }

    