   <div class="historia">
            <h1>Historia</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, dolorum eius impedit blanditiis
                laborum eaque explicabo incidunt placeat magnam sit molestias iusto. Consectetur cum nam iste esse
                adipisci corrupti laudantium!</p>
        </div>
        <h1>Staff</h1>
        <div class="personal">
        <div class="persona">
            <img src="images/persona1.jpg" alt="persona1" width="150px">
            <h3>Maestro Pastelero</h3>
            <h2 style="color: tomato;">Horacio Rodriguez</h2>
        </div>
        <div class="persona">
            <img src="images/persona2.jpg" alt="persona2" width="150px" style="display:inline;">
            <h3>Encargado de Cocina</h3>

            <h2 style="color: tomato;">Carlos Bonifacio</h2>
        </div>
        <div class="persona">
            <img src="images/persona3.jpg" alt="persona3" width="150px">
            <h3>Cocinero</h3>
            <h2 style="color: tomato;">Ramiro Beltrán</h2>
        </div>
    </div>