.servicios{
    margin-top: 20px;
    padding-top: 50px;
}


.serv1 {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210209/pngtree-gold-leaf-warm-color-image_559279.jpg);
    border: 2px solid black;
    border-radius: 20px;
    width: 960px;
    height: 150px;
    overflow: hidden;

}

.serv1 h4{
    font-size: 2rem;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:blue ;
}

.serv1 p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5px;
    margin-top: 10px;
    color: red;
    font-size: 25px;
    }

.serv1 img{
    float: right;
    width: 145px;
    border-radius: 15px;

}

.serv2 {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210209/pngtree-gold-leaf-warm-color-image_559279.jpg);
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 960px;
    height: 150px;
    overflow: hidden;
}

.serv2 h4{
    text-decoration-line: underline;
    text-align: right;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: indigo;
}


.serv2 p{
    text-align: center;
    padding-left: 5px;
    color:darkslategrey;
    font-size: 18px;
}

.serv2 img{
    float: left;
    width: 150px;
    border-radius: 20px;
    
}

.serv3 {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210209/pngtree-gold-leaf-warm-color-image_559279.jpg);
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 960px;
    height: 150px;
    overflow: hidden;

}

.serv3 h4{
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    color: indigo;

}

.serv3 p{
    text-align: left;
    padding-left: 5px;
    color:darkslategrey;
    font-size: 18px;
}
.serv3 img{
    float: right;
    border-radius: 20px;
    width: 150px;
    }


.serv1:hover{
        transform: scale(1.1);
        transition: all 1s ease;
        border-radius: 20px; 
    }

    .serv2:hover{
        transform: scale(1.1);
        transition: all 1s ease;
        border-radius: 20px; 
    }

    .serv3:hover{
        transform: scale(1.1);
        transition: all 1s ease;
        border-radius: 20px; 
    }
    