<h1>NOSOTROS</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium sit minus velit repellat hic eveniet assumenda,
    voluptas nulla obcaecati eligendi saepe voluptates numquam ad, id, consectetur quisquam qui voluptatem non.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sed voluptates quod officiis numquam eveniet nihil,
    minus dolorem laborum voluptate sequi possimus? Ipsum saepe error ratione. Expedita officia repellendus iste?</p>

<ul>
    <li>UNO</li>
    <li>DOS</li>
    <li>TRES</li>

</ul>