
        <h5 style="color: saddlebrown;"> <i class="fa-solid fa-cake-candles"></i>Bakery Dolce <i class="fa-solid fa-utensils"></i></h5>

        

        <div class="homeimg">
            <img src="stylesheets/homeimg.jpg" alt="homeimg" width="500px">
            <img src="stylesheets/homeimg2.png" alt="homeimg2" width="500px">
        </div>

        <div class="columnas">
            <div class="bienvenidos">
                <h2 style="text-align: center;"><u>Bienvenidos </u></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore esse veritatis aspernatur corrupti,
                    magnam distinctio quas quae aut, ducimus laborum nihil nemo dolor fuga quam iste perferendis? At,
                    minima
                    illum?</p>
            </div>


            <div class="testimonios">
                <h2 style="text-align: center;"> <u>Testimonios</u></h2>
                <div class="testimonio">
                    <span class="cita"> "Todo increíble"</span>
                    <span class="autor">-Brian Pedrosa</span>
                </div>
            </div>
        </div>
