
        <div class="servicios">

        <div class="serv1">
            <img src="images/takeaway2.png" alt="takeawayimg">
            <h4>Take Away</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dicta temporibus cumque vel facere
                distinctio blanditiis culpa asperiores ab odit? Sapiente maxime ad magni architecto sed facilis illo
                voluptate earum.</p>
        </div>

        <div class="serv2">
            <img src="images/catering2.jpg" alt="catering">
            <h4>Catering</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dicta temporibus cumque vel facere
                distinctio blanditiis culpa asperiores ab odit? Sapiente maxime ad magni architecto sed facilis illo
                voluptate earum.</p>
        </div>

        <div class="serv3">
            <img src="images/envios2.jpg" alt="deliveryimg">
            <h4> Delivery</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure dicta temporibus cumque vel facere
                distinctio blanditiis culpa asperiores ab odit? Sapiente maxime ad magni architecto sed facilis illo
                voluptate earum.</p>
        </div>

    </div>